name: deploy.yml
on:
  push:
    branches:
      - main

jobs:
  # Zip the entire project and upload it as an artifact
  zip-and-upload:
    runs-on: ubuntu-latest
    steps:
        - name: Checkout code
          uses: actions/checkout@v6
        - name: Zip project
          # ignore the folders starting with `.` (e.g., .git, .github)
          run: zip -r mcf-custom-models.zip . -x ".*/*"
        - name: Upload artifact
          uses: actions/upload-artifact@v6
          with:
            name: resourcepack
            path: mcf-custom-models.zip
        - name: Create Release
          uses: softprops/action-gh-release@v2
          with:
            tag_name: build-${{ github.run_number }}
            name: Build ${{ github.run_number }}
            files: mcf-custom-models.zip
          env:
            GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}